.label-list-filter {
	display: inline-block !important;
	padding: 2px 14px 2px 5px !important;
	margin-left: 4px !important;
    line-height: 18px;
    font-size: 14px;
}
.list-filter {
	vertical-align: text-top;
}
.label-list-filter input {
    display: inline-block !important;
    margin: 0 5px !important;
    vertical-align: middle !important;
}